<style>
* {
  line-height: 1.6;
  box-sizing: content-box;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  margin: .5em 0;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: .5em 0;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: .3em 0;
}
p {
  margin: .5em 0;
}
p.img-wrapper {
  text-align: center;
}

table {
  margin: .5em;
  border-collapse: collapse;
}
table.skeleton tr {
  padding: .3em 0;
}
table.skeleton th, table.skeleton td {
  border: none;
}
table.skeleton tr.th {
  border-bottom: 1px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
td {
  padding: .3em .7em;
}
td.center {
  text-align: center;
}
th, td {
  border: 1px solid #000;
}

ul, ol {
  padding-left: 2em;
}
ul {
  list-style: disc outside none;
}
ol {
  list-style: decimal outside none;
}

pre {
  padding: .5em;
  border-radius: .5em;
  background-color: rgba(216, 185, 195, .3);
}
</style>
