<style>
  @page {
    size: A4 portrait;
    overflow: visible;
    margin: 0;
  }
  @page article-wrapper {
    margin: 20mm;
  }
  body {
    position: relative;
    width: calc(210mm - 20mm * 2);
    /* min-height: calc(297mm - 20mm * 2); */
    counter-reset: page;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  header, article {
    position: relative;
    page-break-after: always;
  }
  header {
    page: title;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 210mm;
    height: 297mm;
  }
  article {
    page: article;
  }
  article .article-wrapper {
    page: article-wrapper;
  }
</style>
