<style>
:root {
  /* Detailed rate color */
  --color-rate-ur: rgb(45, 45, 45);
  --color-rate-b5: rgb(157, 73, 0);
  --color-rate-b4: rgb(165, 79, 0);
  --color-rate-b3: rgb(173, 86, 0);
  --color-rate-b2: rgb(173, 86, 0);
  --color-rate-b1: rgb(198, 119, 57);
  --color-rate-s5: rgb(56, 84, 110);
  --color-rate-s4: rgb(61, 90, 116);
  --color-rate-s3: rgb(67, 95, 122);
  --color-rate-s2: rgb(73, 101, 128);
  --color-rate-s1: rgb(78, 106, 134);
  --color-rate-g5: rgb(210, 133, 0);
  --color-rate-g4: rgb(223, 143, 0);
  --color-rate-g3: rgb(236, 154, 0);
  --color-rate-g2: rgb(249, 165, 24);
  --color-rate-g1: rgb(255, 176, 40);
  --color-rate-p5: rgb(0, 199, 139);
  --color-rate-p4: rgb(0, 212, 151);
  --color-rate-p3: rgb(39, 226, 164);
  --color-rate-p2: rgb(62, 240, 177);
  --color-rate-p1: rgb(81, 253, 189);
  --color-rate-d5: rgb(0, 158, 229);
  --color-rate-d4: rgb(0, 169, 240);
  --color-rate-d3: rgb(0, 180, 252);
  --color-rate-d2: rgb(43, 191, 255);
  --color-rate-d1: rgb(65, 202, 255);
  --color-rate-r5: rgb(224, 0, 76);
  --color-rate-r4: rgb(234, 0, 83);
  --color-rate-r3: rgb(245, 0, 90);
  --color-rate-r2: rgb(255, 0, 98);
  --color-rate-r1: rgb(255, 48, 113);
  /* Abstract rate color */
  --color-rate-b: var(--color-rate-b3);
  --color-rate-s: var(--color-rate-s3);
  --color-rate-g: var(--color-rate-g3);
  --color-rate-p: var(--color-rate-p4);
  --color-rate-d: var(--color-rate-d4);
  --color-rate-r: var(--color-rate-r3);
  /* Abstract difficulty color */
  --color-rate-easy: var(--color-rate-b);
  --color-rate-normal: var(--color-rate-s);
  --color-rate-little-hard: var(--color-rate-g);
  --color-rate-hard: var(--color-rate-p);
  --color-rate-insane: var(--color-rate-d);

  /* Dark theme pallete */
  --color-dark-primary: rgb(54, 48, 98);
  --color-dark-sub-primary: rgb(77, 76, 125);
  --color-dark-secondary: rgb(216, 185, 195);
  --color-dark-sub-secondary: rgb(130, 115, 151);
}
</style>
