<!-- header.njk: start block "metadata" -->
{% block metadata %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
<!-- header.njk: end block "metadata" -->

<!-- header.njk: start block "scripts" -->
{% block scripts %}
<!-- polyfill -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<!-- mathjax.js -->
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
}
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
<!-- header.njk: end block "scripts" -->
